In [9]:
import pandas as pd

In [2]:
TRAIN_PATH = "../data/HeadHunter_train_orig.csv"
TEST_PATH = "../data/HeadHunter_test.csv"

NEW_TRAIN_PATH = "../data/HeadHunter_train.csv"
NEW_VAL_PATH = "../data/HeadHunter_val.csv"

#======================================================

NEW_NEW_TRAIN_PATH = "../data/HeadHunter_new_train.csv"

FULL_TRAIN_PATH = "../data/HeadHunter_train_full.csv"
UPD_TRAIN_PATH = "../data/HeadHunter_train_upd.csv"
UPD_VAL_PATH = "../data/HeadHunter_val_upd.csv"

In [3]:
train = pd.read_csv(TRAIN_PATH)
test = pd.read_csv(TEST_PATH)

In [5]:
train.head()

,review_id,city,position,positive,negative,salary_rating,team_rating,managment_rating,career_rating,workplace_rating,rest_recovery_rating,target
0,0,Ижевск,Кладовщик,Недавно устроился в ****** на должность кладов...,Повысить з/п,5,4,3,3,4,4,0
1,1,Москва,Руководитель проекта,"Расположение офиса, своего рода стабильность (...",Упростить процессы - все процессы ради процесс...,4,4,4,1,1,1,8
2,2,Екатеринбург,Консультант,В нашем банке все по закону в плане зарплаты и...,Ничего,5,5,5,5,5,5,0
3,5,Санкт-Петербург,Оператор,Я в ****** около года работаю оператором. Норм...,Нет.,5,5,5,5,5,5,0
4,7,Москва,Инженер КИПиА,В принципе норм.Работать можно,Всегда есть к чему стремиться,4,5,4,2,5,2,8

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50876 entries, 0 to 50875
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   review_id             50876 non-null  int64
 1   city                  47525 non-null  object
 2   position              46218 non-null  object
 3   positive              50837 non-null  object
 4   negative              50739 non-null  object
 5   salary_rating         50876 non-null  int64
 6   team_rating           50876 non-null  int64
 7   managment_rating      50876 non-null  int64
 8   career_rating         50876 non-null  int64
 9   workplace_rating      50876 non-null  int64
 10  rest_recovery_rating  50876 non-null  int64
 11  target                50876 non-null  object
dtypes: int64(7), object(5)
memory usage: 4.7+ MB

In [8]:
train.describe()

,review_id,salary_rating,team_rating,managment_rating,career_rating,workplace_rating,rest_recovery_rating
count,50876.000000,50876.000000,50876.000000,50876.000000,50876.000000,50876.000000,50876.000000
mean,96570.377369,3.444827,4.144548,3.520226,3.386115,3.728025,3.409781
std,55769.347840,1.478828,1.275873,1.592045,1.558145,1.457538,1.612926
min,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000
25%,48183.750000,2.000000,4.000000,2.000000,2.000000,3.000000,2.000000
50%,96594.500000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000
75%,145021.250000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
max,192828.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [17]:
test.head()

,review_id,city,position,positive,negative,salary_rating,team_rating,managment_rating,career_rating,workplace_rating,rest_recovery_rating
0,3,Москва,Старший специалист,"Свобода в выборе рабочего графика, условия труда",****** всегда стремится к улучшению всего,5,5,5,5,5,5
1,4,Москва,Менеджер по персоналу,Компания делает ставки на молодых и перспективных,"Слабая оснащённость рабочих мест, отсутствие Д...",4,5,4,5,4,4
2,13,Тверь,Тренинг-менеджер,Есть возможность для развития,Увеличить уровень дохода,2,5,5,5,5,5
3,14,Уфа,Специалист отдела кадров,"Хороший коллектив, размереная работа, нет пере...","Обучение сотрудников, ротацию кадров, увеличе...",2,5,5,2,4,4
4,17,Москва,Бизнес-аналитик,"Гибкость в рабочем графике, коллектив.",Уровень представленности HR-бренда.,5,5,5,5,5,5

In [18]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50651 entries, 0 to 50650
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   review_id             50651 non-null  int64
 1   city                  47558 non-null  object
 2   position              48424 non-null  object
 3   positive              50650 non-null  object
 4   negative              50648 non-null  object
 5   salary_rating         50651 non-null  int64
 6   team_rating           50651 non-null  int64
 7   managment_rating      50651 non-null  int64
 8   career_rating         50651 non-null  int64
 9   workplace_rating      50651 non-null  int64
 10  rest_recovery_rating  50651 non-null  int64
dtypes: int64(7), object(4)
memory usage: 4.3+ MB

In [19]:
test.describe()

,review_id,salary_rating,team_rating,managment_rating,career_rating,workplace_rating,rest_recovery_rating
count,50651.000000,50651.000000,50651.000000,50651.000000,50651.000000,50651.000000,50651.000000
mean,96025.555527,3.316736,4.126098,3.475687,3.314584,3.700855,3.302008
std,55548.868165,1.452530,1.281285,1.586697,1.550043,1.460323,1.610658
min,3.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000
25%,47736.000000,2.000000,4.000000,2.000000,2.000000,3.000000,2.000000
50%,95875.000000,3.000000,5.000000,4.000000,4.000000,4.000000,4.000000
75%,143999.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
max,192833.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

Browsing texts:

In [20]:
train_positive_texts = list(train["positive"])
train_negative_texts = list(train["negative"])

test_positive_texts = list(test["positive"])
test_negative_texts = list(test["negative"])

In [24]:
"" in test_positive_texts, " " in test_positive_texts, "" in test_negative_texts, " " in test_negative_texts

(False, False, False, False)

In [28]:
test_pos_lens = list(map(lambda x: len(str(x)), test_positive_texts))

In [33]:
min_len, max_len = min(test_pos_lens), max(test_pos_lens)

In [35]:
for _text in test_positive_texts:
    if type(_text) is not str:
        print("Not str:", _text, end="\n\n")
    elif len(_text) == min_len:
        print("Min len:", _text, end="\n\n")
    elif len(_text) == max_len:
        print("Max len:", _text, end="\n\n")

Max len: The standard Lorem Ipsum passage, used since the 1500s "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?" 1914 translation by H. Rackham "But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?" Section 1.10.33 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat." 1914 translation by H. Rackham "On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains."

Not str: nan

In [46]:
for _text in test_positive_texts:
    if type(_text) is not str:
        print("Not str:", _text, end="\n\n")
    elif len(_text) in _text:
        print("Min len:", _text, end="\n\n")

Min len: *†********†****************

Min len: ************************

Min len: Мой прямой руководитель, все остальные - ********

Min len: ***************************

Min len: ********************************

Min len: ********************

Min len: ***************************************************************

Min len: *********************

Min len: —+++++++++**********

Min len: Ни чего ********************************************+++++++**+********

Min len: *************************

Min len: ********************

Not str: nan

Min len: *************************

Min len: ************************